html {
  font-size: $baseFontSize;

  @include phones {
    font-size: 3.75vmin;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'Play', Helvetica, sans-serif;
  line-height: 1.42;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: $containerWidth;
  position: relative;

  &--benefits {
    width: 98%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}