.compound {
  position: absolute;
  width: rem(235px);
  padding: rem(24px);
  border-radius: 2%;
  background:rgba(202, 201, 201, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);
  opacity: 0;
}

.compound__item {
  display: flex;
  height: rem(30px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-bottom: 0;
  }
}

.compound__img {
  width: 11%;
  margin-right: rem(12px);
}

.compound__text {
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(24px);
}

.compound__mean {
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(24px);
  margin-left: auto;
}