.shop {
  background-color: #F8FAF9;
}

.shop__container {
  height: 90%;
  display: flex;
  align-items: center;
  position: relative;
}

.shop__slider {
  display: flex;
  overflow: hidden;
  width: rem(1097px);
  height: rem(479px);

  @include tablets {
    height: rem(676px);
  }

  @include phones {
    min-height: rem(725px);
  }
}

.shop__desc-img {
  display: none;
  
  @include tablets {
    display: inline-flex;
    margin-bottom: rem(50px);
  }

  @include phones {
    margin-bottom: rem(32px);
  }
}

.shop__items {
  background: url(img/shop/Ellipse_6.svg) left center / 47% auto no-repeat;
  display: flex;
  position: relative;
  margin-bottom: rem(50px);

  @include tablets {
    background: none;
    justify-content: center;
  }

  @include phones {
    &:last-child {
      display: none;
    }
  }
  }

.shop__items--red {
  background: url(img/shop/Ellipse_6_red.svg) left center / 47% auto no-repeat;

  @include tablets {
    background: none;
    justify-content: center;
  }
}

.shop__inner {
  flex-direction: column;
  margin-left: auto;
  width: 45%;

  @include tablets {
    margin-left: 0;
    width: 83%;
  }

  @include phones {
    width: 90%;
  }

}

.shop__depiction {
  width: rem(91px);
  height: rem(91px);
  border-radius: 7%;
  background: #9A9A9A;
  margin-bottom: rem(26px);
  display: flex;

  &:hover .compound {
    visibility: visible;
    opacity: 1;
    transition: all 300ms;
  }

  @include tablets {
    display: none;
  }

}

.shop__desc {
  margin-bottom: rem(24px);

  @include tablets {
    text-align: center;
  }
}

.shop__desc-title {
  font-weight: 700;
  font-size: rem(36px);
  line-height: rem(42px);
  text-transform: uppercase;
  margin-bottom: rem(24px);

  @include tablets {
    font-weight: 700;
    font-size: rem(28px);
    line-height: rem(32px);
  }
}

.shop__desc-subtitle {
  font-size: rem(16px);
  line-height: rem(19px);
  color: #666666;
  padding-right: rem(45px);

  @include tablets {
    padding-right: 0;
  }
}

.shop__thesis {
  margin-bottom: rem(26px);
}

.shop__lower {
  display: flex;

  @include tablets {
    justify-content: center;
  }
}


.shop__arrow-left::before {
  position: absolute;
  content: url(img/shop/l.png);
  left: -44px;

  @include tablets {
    left: rem(119px);
    top: rem(123px);
  }

  @include phones {
    left: rem(11px);
    top: rem(164px);
  }
}

.shop__arrow-right::before {
  position: absolute;
  content: url(img/shop/r.png);
  right: rem(-33px);

  @include tablets {
    right: rem(119px);
    top: rem(123px);
  }

  @include phones {
    right: rem(11px);
    top: rem(164px);
  }

}

