.features {
  display: flex;
}

.features__items {
  margin-right: rem(42px);
  align-items: center;

  &:last-child {
    margin-right: 0;
  }
}

.feature {
  display: flex;
}

.feature__icon {
  margin-right: rem(7px);
  width: rem(41px);
  display: flex;
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(90px);
}

.feature__img {
  fill: black;
}
