.humans {
  display: flex;
  justify-content: space-between;
  min-height: rem(318px);
  align-items: flex-start;
  flex-wrap: wrap;

  @include tablets{
    flex-direction: column;
    align-items: center;
    min-height: rem(174px);
  }
}

.humans__item {
    margin-right: rem(20px);
    flex: 1;
  
    &:last-child {
      margin-right: 0;
    }
}

.human {
  display: flex;
  justify-content: center;

  @include tablets{
    flex-direction: column;
    max-width: rem(222px);
  }
}

.human__photo-img {
  display: block;
  max-width: rem(220px);
  max-height: rem(290px);
  margin-bottom: rem(15px);

  @include tablets{
    display: none;
  }
}

.human {
  display: flex;
  flex-wrap: wrap;
}

.human__desc-class {
  display: none;
  z-index: 1;
}

.human__desc-name:focus ~ .human__desc-class { 
  display: block; 
  margin-left: rem(3px);
  }

.human__desc-name {
  font-weight: 700;
  text-align: center;

  &::after {
    content: url(/img/design/triangle_small.png);
    margin-left: rem(3px);
  }
}

.human__photo-img {
  max-height: rem(290px);
  max-width: rem(220px);
}

.human__desc-class__title {
  color: #292929;
  font-weight: 400;
  font-size: rem(16px);
  text-align: center;
}

.human__desc-class__text {
  font-weight: 400;
  font-size: rem(16px);
  text-align: center;
  color: #666666;
}