.rewievs__display {
  background-color: $gray;
  padding: rem(42px) rem(142px) rem(42px) rem(42px);
  margin-bottom: rem(15px);
  overflow: hidden;
  position: relative;

  @include tablets {
    padding: rem(75px) rem(36px) rem(25px) rem(36px);
    margin-bottom: rem(35px);
  }

  &::before {
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-65px);
  }
}

.rewievs__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.rewievs__avatar {
  width: rem(253px);
  height: rem(263px);
  margin-right: rem(40px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-right: 0;
  }
}

.rewievs__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rewievs__content {
  flex: 1;
  padding-top: rem(30px);
}

.rewievs__title {
  font-weight: 700;
  font-size: rem(24px);
  margin-bottom: rem(22px);
}

.rewievs__text {
  font-weight: 400;
  font-size: rem(16px);
  color: #666666;
  margin-bottom: rem(36px);
  line-height: 1.25;
}

.rewievs__autor {
  font-weight: 700;
}

.rewievs__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}