.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &--benefits {
    &::before {
      position: absolute;
      content: url(/img/design/triangle.png);
      bottom: rem(-20px);
      left: 7%;

      @include phones {
        display: none;
      }
  }
}
  &--rewiev {
    &::before {
      position: absolute;
      content: url(/img/design/ellipse.png);
      bottom: rem(-20px);
      left: 7%;
    }
  }

&--order {
  background-color: #000000;
    &::before {
      position: absolute;
      content: url(/img/design/polygon.png);
      bottom: rem(680px);
      right: 7%;

      @include tablets {
        bottom: rem(620px);
      }
      @include phones {
        bottom: rem(620px);
      }
      }
    }
}
      
  // &--video {
  //   background-color: $gray;
  //   height: 100vh;
  //   min-height: 600px;
  //   display: flex;
  //   }

  // &--team {
  //   height: 100vh;
  //   min-height: 700px;
  //   display: flex;
  //   }

.section__title {
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(52px);
  text-transform: uppercase ;
  margin-bottom: rem(60px);
  text-align: center;
}

.section--font-colorwhite {
  color: #fff;
}

.video-container {
  padding: rem(100px) 0 rem(100px);
  position: relative;

  &::before {
    content: url(/video/vector.png);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(268px);
  }
}

.section__title--rewievs {
  margin-bottom: rem(32px);

  @include phones {
    font-size: rem(32px);
  }
}
  