.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--benefits {
    &::before {
      position: absolute;
      content: url(/img/design/triangle.png);
      bottom: 1279px;
      left: 7%;
  }
}
  &--rewiev {
    &::before {
      position: absolute;
      content: url(/img/design/ellipse.png);
      bottom: 730px;
      left: 7%;
    }
  }

&--order {
  background-color: #000000;
    &::before {
      position: absolute;
      content: url(/img/design/polygon.png);
      bottom: 730px;
      right: 7%;
      }
    }
}
      
  // &--video {
  //   background-color: $gray;
  //   height: 100vh;
  //   min-height: 600px;
  //   display: flex;
  //   }

  // &--team {
  //   height: 100vh;
  //   min-height: 700px;
  //   display: flex;
  //   }

.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase ;
  margin-bottom: 60px;
  text-align: center;
}

.section--font-colorwhite {
  color: #fff;
}

.video-container {
  padding: 100px 0 100px;
  position: relative;

  &::before {
    content: url(/video/vector.png);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 268px;
  }
}

.section__title--rewievs {
  margin-bottom: 32px;
}
  