
.social-media__link {
  display: flex;
  text-decoration: none;
  width: rem(36px);
  height: rem(36px);
  background: center center no-repeat;
} 

.social-media__item {
  display: inline-block;
  border-radius: 50%;
}

.social-media__item:last-child {
  margin-right: 0;
}

.social-media__pic {
  fill: #B3B3B3;
  margin-right: rem(2px);

  &:hover {
    fill: black;
  }
}